.flag-img {
  padding: 3px;
  display: inline-block;
  span {
    @include centerBackgr;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
}

.insta-stream {
  width: 350px;
}
