@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'components/images';
@import 'components/multiselect';

body {
  font-family: "Quicksand", sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

// ************** ARTIST SHOW  PERCENTAGE COMPLETE BAR **************** //
.percent-p {
  margin: 5px 0;
  padding: 5px;
}

.percent-right {
  text-align: right;
}
